.outer-box{
    overflow: hidden;
    width: 180px;
    height: 270px;
    margin: 0 20px;
}
.outer-box:nth-child(odd){
    position: relative;
    top: 20px;
}
@media only screen and (max-width: 850px){
    .outer-box:nth-child(odd){
        position: relative;
        top: 0;
    }
    .outer-box{
        margin: 10px 0;
    }
}
.image{
    width: 180px;
    height: 270px;
}
.bfc-box{
    position: relative;
    overflow: hidden;
}
.name-bar{
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 24px;
    writing-mode: vertical-lr;
}
.show{
    visibility: visible;
    height: 90px;
    padding-top: 7px;
    transition: 0.5s;
    position: relative;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.hide{
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    height: 0;
    visibility: hidden;
}
.nums{
    color: white;
    margin-top: 5px;
}
.float-nums{
    color: white;
    display: inline-block;
}
.show-nums{
    opacity: 1;
    width: 30px;
    transition: 0.5s;
}
.hide-nums{
    opacity: 0;
    width: 0;
    transition: 0.5s;
}
.ava{
    background-color: #9ac8e2;
}
.bella{
    background-color: #db7d74;
}
.carol{
    background-color: #b8a6d9;
}
.diana{
    background-color: #e799b0;
}
.eileen{
    background-color: #576690;
}