.outer-box{
    overflow: hidden;
    width: 170px;
    height: 270px;
    margin: 0 20px;
}
.outer-box:nth-child(odd){
    position: relative;
    top: 20px;
}
.image{
    width: 170px;
    height: 270px;
    transition: 0.5s;
}
.show{
    visibility: visible;
    height: 80px;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.hide{
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    height: 0;
    visibility: hidden;
}
.ava{
    background-color: #9ac8e2;
}
.bella{
    background-color: #db7d74;
}
.carol{
    background-color: #b8a6d9;
}
.diana{
    background-color: #e799b0;
}
.eileen{
    background-color: #576690;
}