.guide{
    position: fixed;
    left: 10px;
    bottom: 10px;
    display: flex;
}
.img{
    width: 40px;
    height: 40px;
}
.show-guide{
    height: 40px;
    opacity: 1;
    color: white;
    width: 200px;
    transition: 0.5s;
    font-size: 14px;
    background-color: #fc966e;
    border-radius: 10px;
    margin-left: 15px;
    text-align: center;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.hide-guide{
    opacity: 0;
    height: 40px;
    width: 200px;
    font-size: 14px;
    background-color: #fc966e;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: 15px;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}