.guide-logo{
    position: fixed;
    left: 10px;
    bottom: 10px;
}
.img{
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
}
.guide{
    position: absolute;
    left: 60px;
    bottom: 10px;
    height: 80px;
    color: white;
    width: 270px;
    transition: 0.5s;
    font-size: 14px;
    background-color: #fc966e;
    border-radius: 10px;
    margin-left: 15px;
    text-align: center;
    padding: 5px 10px;
    transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}
.show-guide{
    opacity: 1;
}
.hide-guide{
    opacity: 0;
}
span{
    display: inline-block;
}
